{% extends "base.html.twig" %}
{% block body %}
  <div class="container">
    <h2>Liste des vols</h2>
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th style="background: cornflowerblue;">Numéro de vol</th>
        <th style="background: cornflowerblue;">Départ</th>
        <th style="background: cornflowerblue;">Arrivé</th>
        <th style="background: cornflowerblue;">Heure</th>
        <th style="background: cornflowerblue;">Places</th>
        <th style="background: cornflowerblue;">Prix</th>
        <th style="background: cornflowerblue;">ℹ️ Promo️</th>
        <th style="background: cornflowerblue;">⚠️</th>
      </tr>
      </thead>
      <tbody>
      {% for flight in flightList %}
        <tr>
          <td>{{ flight.flightCode }}</td>
          <td>{{ flight.departure }}</td>
          <td>{{ flight.arrival }}</td>
          <td>{{ flight.time | date('H:i') }}</td>
          <td>{{ flight.seat }}</td>
          <td>
            <span {% if flight.information %}style="color: indianred;"{% endif %}>{{ flight.price }}</span>
          </td>
          <td>
            {% if flight.information %}
              <span style="color: seagreen">{{ flight.price * 0.95 }}</span>
            {% endif %}
          </td>
          <td>
            {% if flight.seat == 0 %}
              <span style="color: indianred">COMPLET</span>
            {% elseif flight.seat > 0 and flight.seat < 100 %}
              <span>{{ flight.seat }} place{% if flight.seat != 1 %}s{% endif %}</span>
            {% else %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}